footer
	
	.container
		.row
			.col.col--8-of-12.col--centered
				.col.col--6-of-12.col.debug-border-red
					img#logoimg(src='img/ptil_logo_white.svg', alt='bilde')
				.col.col--6-of-12.col.footertext.debug-border-red
					p Contact PSA Petroleum Safety Authority &copy; 2017
					hr(id='hrfooter')
					p Website developed by Group 1
	
	//- .footer-content
	//- 	.logo-symbol
	//- 	.info.marg-b-l.bold
	//- 		p PSA Petroleum Safety Authority &copy; 2017
	//- 		p Website developed by Group 1 – IMT3891