//- footer
//- 	p: center
//- 		br 
//- 		| LOREM
//- 		br 
//- 		| IPSUM
//- 		br 
//- 		| DOLOR
#footer
	.container
		.row
			.col.col--8-of-12.col--centered
				.col.col--6-of-12.col
					img(src='img/ptil-logo-eng.svg', alt='bilde' id='logoimg')
				.col.col--6-of-12.col
					p Contact PSA Petroleum Safety Authority &copy; 2017
					hr
					p Website developed by Group 1