doctype html
html(lang='en')

head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1', user-scalable='no')
	title PTIL Search
	include ../includes/wiredep-css.html
	link(rel='stylesheet', href='main.css')
	script(src='https://use.fontawesome.com/7cd0a7ffe4.js')