doctype html
html(lang='en')

head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1', user-scalable='no')
	title SOLR TEST
	include ../includes/wiredep-css.html
	link(rel='stylesheet', href='main.css')