doctype html
html
	head
		title PTIL Search
		link(rel='stylesheet', href='main.css')
	body
		.hero-img
			.logo-wrap: .logo: img(src='img/ptil-logo-eng.svg')
			.search-wrap: form.search-pill
				input#search-field(type='text', name='search', placeholder='Search..')
				button#search-btn
					.nonhover: include includes/svg/icon-search
					.hover:    include includes/svg/icon-search
			.misc-wrap
				p: .no-results.hide
		
		
		.filter.hide
			.filter-inner
			.filter-link
				span: .arrow-up
				p filter results
		
			
		p#cards: .results.hide
		
		.filter-feedback.hide
				p
				.arrow-line
					.line
					.arrow
					.line
		
		.row: .col.col--8-of-12.col--centered
				
			.jq-clone(style='display: none')
				.text-box.margin.card-template
					.box-nonhover
						p.category.uppercase
						h2.title
						hr.line
						p.author.italic
						p.summary
					.box-hover
						a.pdf-link(href='#' target='_blank').box-text.italic View PDF in a new window
					.hidden-data(style='display: none')
						.category-hidden
						.year-hidden
						
			.result-cards

		include includes/footer.pug
		include includes/scripts.pug